<div class="chartContainer">
    <ngx-charts-line-chart
        [view]="view"
        [results]="results"
        [schemeType]="schemeType"
        [animations]="animations"
        [legend]="legend"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="'Dates'"
        [yAxisLabel]="'Medals'"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [timeline]="timeline"
        [gradient]="gradient"
        [xAxisTickFormatting]="xAxisTickFormatting"
        [yAxisTickFormatting]="yAxisTickFormatting"
    >
    </ngx-charts-line-chart>
</div>