<app-title [title]="nameOfContry"></app-title>

<div class="boxesContainer">
    <app-box [boxText]="'Number of entries'" [boxNumber]="numberOfEntries"></app-box>
    <app-box [boxText]="'Total number medals'" [boxNumber]="numberOfMedals"></app-box>
    <app-box [boxText]="'Total number of athletes'" [boxNumber]="numberOfAthletes"></app-box>
</div>

<app-pie-chart-medals-per-country [results]="pieChartData"></app-pie-chart-medals-per-country>

<app-table-medals-per-year></app-table-medals-per-year>