header {
    text-align: center;
    background-color: #2A828E;
    margin-bottom: 20px;
    padding: 10px;
}

a {
    margin: 0 10px;
    color: #f1f1f1;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.active {
    color: #eee;
    text-decoration: underline;
}