// header{
//     position: fixed;
//     top: 0;
//     width: 100%;
// }

.navbar{
    background-color: #2A828E;
    margin-bottom: 2rem;
}

.nav-link {
    margin: 0 10px;
    color: #f1f1f1;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &.active{
        color: #d3d3d3;
    }

    @media screen and (max-width: 500px) {
        font-size: 0.9rem;
        margin: 0 8px;
    }

    @media screen and (max-width: 300px) {
        font-size: 0.8rem;
        margin: 0 7px;
    }
}


