// header{
//     position: fixed;
//     top: 0;
//     width: 100%;
// }

.navbar{
    background-color: #2A828E;
    margin-bottom: 2rem;
}

.nav-link {
    margin: 0 10px;
    color: #f1f1f1;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.nav-link.active {
    color: #d3d3d3;
}

.dropdown-item {
    color: #2A828E;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.dropdown-item.active {
    color: #1F6A73;
    text-decoration: underline;
    background-color: transparent;
}

