<table class="table custom-color table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col" 
            [ngStyle]="{'background-color': '#1F6A73', 'color': '#f1f1f1'}">
                #
            </th>
            <th 
            scope="col" [ngStyle]="{'background-color': '#1F6A73', 'color': '#f1f1f1'}">
                Countries 🏴
            </th>
            <th 
            scope="col" [ngStyle]="{'background-color': '#1F6A73', 'color': '#f1f1f1'}">
                Medals 🎖️
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let result of results; let i = index"
        (click)="navigateToDetail(result.id)"
        >
            <th scope="row"
            [ngStyle]="i % 2 === 0 ? {'background-color': '#329DA8', 'color': '#f1f1f1'} : {'background-color': '#2A828E', 'color': '#f1f1f1'}"
            >
                {{ result.id }}
            </th>
            <td
            [ngStyle]="i % 2 === 0 ? {'background-color': '#329DA8', 'color': '#f1f1f1'} : {'background-color': '#2A828E', 'color': '#f1f1f1'}"
            >
                {{ result.name }}
            </td>
            <td
            [ngStyle]="i % 2 === 0 ? {'background-color': '#329DA8', 'color': '#f1f1f1'} : {'background-color': '#2A828E', 'color': '#f1f1f1'}"
            >
                {{ result.value }}
            </td>
        </tr>
    </tbody>
</table>