.container{
    margin: 10px;

    @media screen and (max-width: 500px) {
        margin: 8px;
    }

    @media screen and (max-width: 300px) {
        margin: 5px;
    }
}

.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlePage{
    background-color: #2A828E;
    font-size: 2rem;
    padding: 0.3em;
    border-radius: 10px;
    color: #f1f1f1;
    margin: auto;
    font-weight: 100;

    @media screen and (max-width: 500px) {
        font-size: 1.5rem;
    }

    @media screen and (max-width: 300px) {
        font-size: 1.2rem;
    }
}

